/* let it use full parent width regardless of inline widths */
.fc .fc-scrollgrid,
.fc .fc-scrollgrid table {
  width: 100% !important;
}

/* let popovers/menus overflow out of cells */
.fc .fc-view-harness,
.fc .fc-scroller-harness,
.fc .fc-scroller,
.fc .fc-daygrid-body,
.fc .fc-daygrid-day-frame,
.fc .fc-daygrid-day-events {
  overflow: visible !important;
}

/* nice border shell */
.fc {
  background: #fff;
  padding: 1rem;
}
body.fc-dragging-tight .fc-event.fc-mirror {
  transform: translate(-6px, -6px) !important;
  opacity: .95 !important;
  pointer-events: none !important;
  z-index: 9999 !important;
}

.fc .fc-card-menu {
  z-index: 10000 !important;
}

table {width:100%}

.fc-scroller {
    overflow: visible !important;
    height: auto !important;
}

.fc-daygrid-body {
    width: 100% !important; /* Forces it to use container width instead of calculated px */
}

.fc-scrollgrid-sync-table {
    width: 100% !important;
}

.fc-daygrid-day.fc-day-today .fc-daygrid-day-frame .fc-butoon {
  background-color: #FEF9C3; /* yellow-100 */
}

.fc .fc-button-primary:disabled {
  background-color: #fef3c3;
  border-color: #e6d071; /* yellow-400 */
  color: #000;        /* yellow-900 */
  padding: 0.5rem 2rem;
  
}
