@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

 .Header {
    font-size: 1rem;
    min-width: 100vw;
  }

dancing-script-header
{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 640px) {
  dancing-script-header {
    font-size: 0.5rem;
  }
  .Header {
    font-size: 0.5rem;
    min-width: 100vw;
    max-width:100vw;
  }
}
