
.animated-color-hover {
  color: #1f2937; 
  transition: color 0.1s ease-out;
  
  background: linear-gradient(
    90deg,
    #1f2937 0%,        
    #ff0000,            /* shiny*/
    #1f2937 100%       
  );
  
  background-size: 400% auto; 
  background-clip: text;
  -webkit-background-clip: text;
  
  background-position: 100% 50%; 
  animation: none;
}

.animated-color-hover:hover {
  color: transparent; 
  animation: magenta-reverse-sweep-anim 5s ease-out 1 forwards; 
}

/*useeffect**/
.animated-color-hover.auto-run {
  color: transparent; 
  animation: magenta-reverse-sweep-anim 5s ease-out 1 forwards; 
}

@keyframes magenta-reverse-sweep-anim {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -300% 50%;
  }

  
}